/*DEBUGGING*/
#debug
	position: absolute
	right: 5px
	top: 0px
	opacity: .3
	float: right
	span 
		float: right
/*DEBUGGING*/

#main-menu-container 
	margin-left: auto
	margin-right: auto
	padding-left: auto
	padding-right: auto
	//height: 5000px
	width: 1000px
	border-style: none dashed none dashed
	border-width: 1px

#login 
	background: white
	border-style: dashed none dashed none
	border-width: 1px
	text-align: center
	display: inline-block
	width: 998px
	height: 25px
	
	span
		padding-right: 10px

.f-nav
	z-index: 9999
	position: fixed
	top: 0
	width: 100%

header 
	text-align: center
	h2
		margin: 0px
		font: 400 100px/1.3 'Berkshire Swash', Helvetica, sans-serif
		color: black

.title, .title:hover, .title:visited, .title:focus 
	color: black
	text-decoration: none


#steam_log_in 
	float: right
	padding-right: 2px

#userbar 
	float: left
	padding-left: 4px


#container 
	border-style: none none dashed none
	border-width: 1px
	height: 5000px
	width: 100%


=width($width)
	width: $width

#left_sidebar 
	+width(200px)
	float: left
	height: 100%
	border-style: none dashed none none
	border-width: 1px
	ul
		margin: 0
		padding: 5px
		text-align: left
		list-style-type: none
		li:hover 
			border-style: solid
			border-width: 1px
	span 
		padding-left: 5px

#left_sidebar:before 
	+width(200px)
	content: ''
	position: relative
	top: 0
	bottom: 0
	z-index: -1
	left: 0


.game_button 
	padding-top: 5px
	padding-bottom: 5px
	padding-left: 5px
	display: block
	cursor: pointer
	text-decoration: none
	color: black
	font-weight: solid


=no_link_decoration()
	color: black
	text-decoration: none

.game_button:hover, .game_button:visited, .game_button:focus 
	+no_link_decoration()


.active_game_button 
	//background-cSDFolor: #333366
	border-style: solid
	border-width: 1px


#main
	float: left

#main:before 
	content: ''
	position: relative
	top: 0
	bottom: 0
	z-index: -1
	left: 200px

footer 
	width: 1001px
	color: black
	text-align: center


.rules, .rules:hover, .rules:visited, .rules:focus 
	+no_link_decoration


/*******/





.inventoryMain 
	padding-left: 3px
	float: left
	text-align: center
	width: 100%
	height: 1000px 

.itemContainer 
	float: left
	width: 515px
	height: 450px

.itemHolder 
	text-align: center
	height: 100px
	width: 100px
	float: left
	padding-top: 16px
	margin: 1px
	border-style: solid
	border-width: 1px
	border-color: black
	//background-color: grey
	img
		width: 98px

.itemDescription 
	float: left
	padding: 5px
	border-style: groove
	width: 275px
	Aheight: 100%

.game 
	padding-top: 2px
	padding-bottom: 4px
	border-style: none none solid none
	border-width: 1px

.sell_item 
	padding-top: 4px
	text-align: center

#item_title p
	padding-top: 6px
	text-align: center


#right_sidebar 
	float: left
	width: 200px

#steam2 
	width: 154px
	float: right

#user_bar 
	float: left
	padding-top: 5px
	ul
		list-style-type: none

#user 
	float: left
	width: 200px

#user_pic 
	float: left
	width: 50px
	margin-right: 10px

#user_name 
	float: left
	width: 140px


#test 
	text-align: right
	padding-right: 5px

