*
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight: 300
  text-align: center

#page
  height: 100vh
  background: url('/pic/gaming-296528.jpg')
  .row
    color: white
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3)
    font-size: 125%

#ybarra
  display: inline-block

#site
  display: inline-block
  float: right

#motto
  color: white
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3)
  text-align: center
  font-size: 300%
  padding-top: 100px

.half-page
  height: 50vh
  .img-container:before
    content: ' '
    display: inline-block
    vertical-align: middle
    height: 50vh
  .text-container
  line-height: 50vh
  h2
    vertical-align: middle
    display: inline-block


.img-container
  font: 0/0 a


.img-container img
  vertical-align: middle
  display: inline-block


.page
  height: 100vh
  img
    display: inline-block
    margin: auto

#about-us

