body {
	padding: 0px;
}
header {
	background-color: gray;
	text-align: center;
}
nav ul {
	margin: 0;
	padding:0 0 10px 0;
	text-align: center;
}
nav li {
	display: inline;
	padding-left: 1em;
}
#login {
	padding-top: 5px;
	float:right;
}
aside
{
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:200px;
    float:left;
    padding:5px;
}
aside ul
{
	margin: 0;
	padding: 0;
	text-align: left;
}
section
{
}
section h1 {
	text-align: center;
}
section p {
	color: blue;
}
footer {
	background-color: #000000;
	color: #ffffff;
	clear: both;
	text-align: center;
	padding: 10px;
}