header {
	background-color: #222222;
	text-align: center;
}
header h2{
	color: yellow;
}
nav ul {
	margin-bottom: 0;
	padding-left: 0px;
}
nav ul li {
	display: inline-block;
	width: 200px;
	text-align: center; 
	font-size: 130%;
}
nav ul li a {
	cursor: pointer;
	padding-bottom: 10px;
	padding-top: 10px;
	display: block;
}
nav ul li a:hover {
	background-color: white;
	text-decoration: none;
}
#login {
	padding-top: 5px;
	padding-right: 3px; 
	float:right;
}
#main{
	float: left;
	width: 80%;
}
#main h1 {
	text-align: center;
}
#main p {
	text-indent: 20px;
}
aside
{
    line-height:30px;
    background-color:#eeeeee;
    height: 500px;
    width:20%;
    min-width: 200px;
    float:left;
    padding:5px;
}
aside ul
{
	margin: 0;
	padding: 5px;
	text-align: left;
}
aside ul li:hover {
	background-color:yellow;
}
li.game{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
a.game_button {
	display:block;
	cursor:pointer;
	text-decoration:none;
}
aside span {
	padding-left: 5px;
}
section {
}
section h1 {
	text-align: center;
}
section p {
	text-indent: 20px;
	padding-left: 5px;
	color: blue;
}
ul {
	list-style-type:none;
}
footer {
	background-color: #000000;
	color: #ffffff;
	clear: both;
	text-align: center;
	padding: 10px;
}