<div class='inventoryMain'>
  <div class= 'itemContainer'>
{{#items:i}}
<a href='' class='idlol' id={{id[i]}}>
  <div class='itemHolder' id={{id}}>


<img src='http://steamcommunity-a.akamaihd.net/economy/image/{{imageURL[i]}}'>



  </div>
  </a>

{{/items}}

</div>

<div class='itemDescription'>

  <img src='http://steamcommunity-a.akamaihd.net/economy/image/{{activeItemURL}}'>
  <div id='item_title'>
  <p id='item_name'>{{name}}</p>
  </div>
  <div class='game'>
    {{#if appid==570}} 
    <img src='/pic/games/dota2.jpg'>
    <span>{{type}}</span>
    {{/if}}
  </div>
  <div class='game'><span>{{description}}</span>
  </div>
  <div class>
  <span>Tags: {{#with tags}}
  {{quality}}, {{rarity}}, {{type}}, {{slot}}, {{hero}}
  {{/with}}</span>
  </div>
  <div class='sell_item'>
    {{#if tradable==1}}
    <button id='sell'>Продать</button>
    {{else}}
    Вы не можете торговать этим предметом
    {{/if}}
  </div>
</div>
</div>


<!--center>
<img src='http://steamcommunity-a.akamaihd.net/economy/image/{{imageURL}}'>
<p>market name: {{marketName}}</p>
<p>marketable?: {{marketable}}</p>
<p>tradable?: {{tradable}}</p>
<p>type: {{type}}</p>
{{#with tags}}
<p>quality: {{quality}}</p>
<p>rarity: {{rarity}}</p>
<p>type: {{type}}</p>
<p>slot: {{slot}}</p>
<p>hero: {{hero}}</p>
{{/with}}
<button onclick='show_next()'>Next</button>
</center-->

<!--
    data: {
      imageURL: '',
      marketName: '',
      marketable: 1,
      tradable: 1,
      type: '',
      tags: {
        quality: '',
        rarity: '',
        type: '',
        slot: '',
        hero: ''
      }

W_I_5GLm4wPcv9jJQ7z7tz_l_0sEIYUhRfbF4arNQkgGQGKd3k…ITLNVgbmlM3dHqgUBHUXLVDeNFCtV4v8vB1gKnTV3Gr489uF4


      -->