<!--div class='itemMain'-->
  <div class= 'itemContainer'>
{{#items:i}}
<a class='idlol' id={{id[i]}}>
  <div class='itemHolder' id={{id}}>


<img src='http://steamcommunity-a.akamaihd.net/economy/image/{{imageURL[i]}}'>
{{id[i]}}


  </div>
  </a>

{{/items}}

</div>

<div class='itemDescription'>
  <img src='http://steamcommunity-a.akamaihd.net/economy/image/{{activeItemURL}}'>
</div>



<!--center>
<img src='http://steamcommunity-a.akamaihd.net/economy/image/{{imageURL}}'>
<p>market name: {{marketName}}</p>
<p>marketable?: {{marketable}}</p>
<p>tradable?: {{tradable}}</p>
<p>type: {{type}}</p>
{{#with tags}}
<p>quality: {{quality}}</p>
<p>rarity: {{rarity}}</p>
<p>type: {{type}}</p>
<p>slot: {{slot}}</p>
<p>hero: {{hero}}</p>
{{/with}}
<button onclick='show_next()'>Next</button>
</center-->

<!--
    data: {
      imageURL: '',
      marketName: '',
      marketable: 1,
      tradable: 1,
      type: '',
      tags: {
        quality: '',
        rarity: '',
        type: '',
        slot: '',
        hero: ''
      }

W_I_5GLm4wPcv9jJQ7z7tz_l_0sEIYUhRfbF4arNQkgGQGKd3k…ITLNVgbmlM3dHqgUBHUXLVDeNFCtV4v8vB1gKnTV3Gr489uF4


      -->