<div class='inventory-main'>
  <nav>
    <ul>
      <li>
        {{#link-to 'sell' "dota" 1 class="game-nav"}}
          <img src="pic/games/dota2.jpg" alt="Dota 2">
          <span>Dota 2</span>{{/link-to}}
      </li>
      <li>
        {{#link-to 'sell' "cs-go" 1 class="game-nav"}}
          <img src="pic/games/csgo.jpg" alt="CS:GO">
          <span>CS:GO</span>{{/link-to}}
      </li>
      <li>
       {{#link-to 'sell' "steam" 1 class="game-nav"}}
          <img src="pic/games/steam.jpg" alt="Steam">
          <span>Steam</span>{{/link-to}}
      </li>
    </ul>  
  </nav>  
  <div class= 'item-container'>
    {{#each item in items}}
      <div {{bind-attr class=":item-holder key"}}>
        <a {{bind-attr class=":idlol key"}}>
          {{#if item}}
            <img src="{{unbound item.image}}" class="item-image">
	           <!--img src="pic/ajax-loader.gif" alt="loading" class="loading-gif"-->
          {{/if}}
        </a>  
      </div>
    

    {{/each}}

    {{#link-to 'sell' 1}}First{{/link-to}}
    {{#link-to 'sell' previousPage}}Previous{{/link-to}}
    <span>Страница 
    {{currentPage}}
     из {{pages}}</span>
    {{#link-to 'sell' nextPage}}Next{{/link-to}}
    {{#link-to 'sell' pages}}Last{{/link-to}}



  </div>

  <div class='item-description'>
    {{outlet}}
  </div>

</div>